baseURL = "https://gosyuliya.github.io/docs/"
#baseURL = "https://example.com/"
title = "Господарик Юлия"
theme = "shadocs"
rss = true
defaultContentLanguage = "ru"
enableEmoji            = false
enableGitInfo          = true
metaDataFormat         = "yaml"
disqusShortname = "gosyuliya"

[languages]
  [languages.ru]
    languageName = "Русский"
    contentDir = "content/ru"
    [languages.ru.params]
      timeFormat = "02 января 2006"

[params]
  logo = "images/logo.png"
  logoTouch = "images/logoTouch.png"
  image404 = "images/404.gif"
  favicon = "images/favicon.png"
  faviconmd = "![Favicon](/images/favicon.png)"
  siteContentOrder   = "weight" # Сортировка
  enableRightSidebar = true  # Включение правой боковой панели
  enableTOC = true  # Включение дерева навигации (оглавления) 
  navbarInfo = false
  #enableSearch = false
  search = true
  relativeURLs = true
  #baseURL = "/"
  commentoEnable = true

[outputs]
  home = ["HTML", "JSON"]

[markup]
  [markup.tableOfContents]
    endLevel = 6
    ordered = false
    startLevel = 1
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.unsafe]
        enable = true

