@page {
    size: a4 landscape;
    margin: 10mm;
} 

@media print {
    section + section ul {
      break-before: auto !important;
      break-inside: auto !important;
    }    
    section + section ol {
      break-before: auto !important;
      break-inside: auto !important; }
    section + section pre {
      break-before: avoid !important;
      break-inside: auto !important; }
    code {break-inside: auto !important;}
    pre + span {break-inside: avoid !important;}
    span + code {break-inside: avoid !important;}
    p {break-inside: avoid !important; }
    p + table {
      break-before: avoid !important;
      break-inside: auto !important;}
    ul {break-inside: auto !important;}
    h2 + table {break-inside: auto !important;}
    table {break-inside: auto !important;}
    p + div.highlight {
      break-before: auto !important;
      break-inside: avoid !important;}
    div.highlight {
      break-before: avoid !important;
      break-inside: auto !important;}
    section p + figure {
      break-before: auto !important;
      break-inside: avoid !important;
      break-after: auto !important;
    }
    section h4 + div.highlight {
      break-before: avoid !important;
      break-inside: avoid !important;}
  
    article * + div.highlight, article * + div.tabbed-set, section + section * + div.highlight, section + section * + div.tabbed-set {
        page-break-before: avoid !important;
        break-inside: auto !important;
    }
}

* {
    font-family: LibreCaslonText-Regular !important;
    color: #666 !important;
    font-size: 12pt !important;
    line-height: 1.1 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}
  
code {
    font-family: 'LibreCaslonText-Regular' !important;
    font-size: 10pt !important;
    line-height: 1.1 !important;
}

@font-face {
    font-family: "LibreCaslonText-Regular" !important;
    src: "https://github.com/gosyuliya/docs/tree/main/fonts/Libre_Caslon_Text%2COpen_Sans%2CWork_Sans/Libre_Caslon_Text";
  }