/* assets/css/custom.css */

/* Размер шрифта заголовков 1-6 уровней*/
h1 {
    font-size: 1.7rem;
  }

h2 {
    font-size: 1.5rem;
  }

h3 {
    font-size: 1.3rem;
  }

h4 {
    font-size: 1.2rem;
  }

h5 {
    font-size: 1.1rem;
  }

h6 {
    font-size: 1.0rem;
  }

/* Размер основного шрифта страницы*/
body {
    font-size: 1.0rem;
  }

img {
    max-width: 80%;
    height: auto;
    float: left;
}